@use "./styles/partials/mixins" as *;

.App {
  text-align: center;
}

.App__main {
  background-color: white;
  position: relative;
  width: 92%;
  top: -6rem;
  margin: 0 auto;
  padding: 2rem 0;
  padding-bottom: 0;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px #13182c1a;
  @include tablet {
    position: relative;
    top: -5rem;
  }
  @include desktop {
    position: relative;
    top: -5rem;
    width: 80%;
  }
}

button {
  cursor: pointer;
}
