@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // position: absolute;
  // left: 4.27%;
  // right: 4.27%;
  // top: 23%;
  // bottom: 4.13%;
  height: 100%;
  background: #ffffff;
  /* Card Shadow */
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;

  &__heading {
    align-self: flex-start;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__search {
    padding: 0 1rem;
    margin-bottom: 1rem;
    height: 2.25rem;
    width: 18.4375rem;
    border-radius: 0.25rem;
    background-image: url("../../assets/icons/search-24px.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: center right 0.5rem;
    box-sizing: border-box;
    border-radius: 20px;
  }

  &::placeholder {
    font-size: 0.9rem;
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 18.4375rem;
    height: 2.25rem;
    background: #2e66e6;
    border-radius: 20px;
    color: #ffffff;
    border-color: transparent;
  }

  // &__items {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: flex-start;
  //   margin-top: 2rem;
  //   height: auto;
  //   width: 100%;
  //   border-top: $cloud solid 1px;
  // }

  // &__items-card {
  //   padding: 1rem;
  // }

  // &__items-subheading {
  //   font-weight: 600;
  //   font-size: 11px;
  //   color: #5c667e;
  //   @include tablet {
  //     display: none;
  //   }
  // }

  // &__items-top-container {
  //   display: flex;
  //   // padding-left: 2rem;
  //   width: 100%;
  //   justify-content: space-evenly;
  //   @include tablet {
  //     justify-content: center;
  //   }
  // }

  // &__items-bottom-container {
  //   display: flex;
  //   width: 100%;
  //   justify-content: space-between;
  // }

  // &__items-right-wrap,
  // &__items-left-wrap {
  //   display: flex;
  //   flex-direction: column;
  //   text-align: left;
  //   margin: 1rem 2rem 1rem 0rem;
  //   @include tablet {
  //     flex-direction: row;
  //     margin: 0;
  //   }
  // }

  // &-items__icons {
  // }

  // &-list__icons-delete,
  // &-list__icons-edit {
  // }

  // &__items-status {
  //   position: relative;
  //   text-align: center;
  //   color: #158463;
  //   font-weight: 600;
  //   size: 0.6875rem;
  //   &::before {
  //     padding: 4px 8px;
  //     background: rgba(21, 132, 99, 0.07);
  //     border-radius: 20px;
  //     position: absolute;
  //     top: 0px;
  //     left: 0px;
  //     right: 0px;
  //     bottom: 0px;
  //     content: "";
  //   }
  // }

  &__item-link {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  // &__items-item {
  //   text-decoration: none;
  //   @include p2-body-medium($instock-indigo, left);
  // }

  // &__items-category,
  // &__items-status,
  // &__items-qty,
  // &__items-subheading,
  // &__items-warehouse {
  //   @include p2-body-medium($instock-black, left);
  //   @include tablet {
  //     margin: 1rem 4rem;
  //   }
  // }

  &__table {
    // display: flex;
    // flex-direction: column;
    height: auto;
    width: 100%;
    border-spacing: 10px;
    table-layout: fixed;
    // border-collapse: collapse;
    // @include tablet {
    //   flex-direction: row;
    //   // display: none;
    // }
  }

  &__table-heading {
    font-weight: 600;
    font-size: 11px;
    color: #5c667e;
    text-align: left;
    @include mobile {
      display: none;
    }
  }

  &__table-data {
    @include p2-body-medium($instock-black, left);
  }

  &__table-data-item,
  &__table-data-item--mobile {
    color: #2e66e5;
    display: flex;
    flex-direction: column;
  }

  // &__table-data-category {
  //   // display: flex;
  //   // flex-direction: column;
  // }

  // // &__table-row {
  // //   display: flex;
  // //   flex-direction: column;
  // //   text-align: left;
  // //   @include tablet {
  // //     flex-direction: row;
  // //   }
  // // }

  // // &__table--large {
  // //   display: none;
  // //   @include tablet {
  // //     display: block;
  // //   }
  // // }

  &__table-body--mobile {
    border-top: $cloud solid 1px;
    @include tablet {
      display: flex;
      // display: none;
    }
  }

  &__table-row--mobile {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & > * {
      width: calc(100% / 3);
    }
    @include tablet {
      flex-wrap: nowrap;
      & > * {
        width: 100%;
      }
    }
  }

  &__table-data--mobile {
    @extend .inventory-list__table-data;
    // @extend .inventory-list__items-item;
  }

  &__table-data--mobile-empty {
    @include tablet {
      display: none;
    }
  }

  &__table-row--mobile-wrap {
    // width: 100%;
    // background-color: blue;
  }

  &__table-data--mobile-icons-wrap {
    @include tablet {
      display: none;
    }
  }

  &__table-data--tablet-icons-wrap {
    display: none;
    @include tablet {
      display: flex;
      order: 6;
    }
  }

  &__table-data--mobile-icons-delete {
    margin-right: 5rem;
    @include tablet {
      margin: 0;
    }
  }
  &__table-data--mobile-icons-edit {
    margin-left: 5rem;
    @include tablet {
      margin: 0;
    }
  }

  &__table-item--mobile {
    // color: #2e66e5;
    // padding-right: 1rem;
    // &:after {
    //   position: absolute;
    //   left: 70px;
    //   right: 0px;
    //   top: 18px;
    //   bottom: 0px;
    //   content: url("../../assets/icons/chevron_right-24px.svg");
    // }
    @include tablet {
      order: 1;
    }

    &:before {
      display: flex;
      flex-direction: column;
      content: "INVENTORY ITEM";
      @extend .inventory-list__table-heading;
      @include tablet {
        display: none;
      }
    }
  }

  &__table-status--mobile {
    // display: flex;
    // flex-direction: column;
    @include tablet {
      order: 3;
    }
    &:before {
      display: flex;
      flex-direction: column;
      content: "STATUS";
      @extend .inventory-list__table-heading;
      @include tablet {
        display: none;
      }
    }
  }
  &__table-category--mobile {
    @include tablet {
      order: 2;
    }
    &:before {
      display: flex;
      flex-direction: column;
      content: "CATEGORY";
      @extend .inventory-list__table-heading;
      @include tablet {
        display: none;
      }
    }
  }
  &__table-quantity--mobile {
    @include tablet {
      order: 4;
    }
    &:before {
      display: flex;
      flex-direction: column;
      content: "QTY";
      @extend .inventory-list__table-heading;
      @include tablet {
        display: none;
      }
    }
  }
  &__table-warehouse--mobile {
    @include tablet {
      order: 5;
    }
    &:before {
      display: flex;
      flex-direction: column;
      content: "WAREHOUSE";
      @extend .inventory-list__table-heading;
      @include tablet {
        display: none;
      }
    }
  }
}
