.inventory-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 23%;
  bottom: 4.13%;
  background: #ffffff;
  /* Card Shadow */
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;

  &__heading {
    align-self: flex-start;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__search {
    padding: 0 1rem;
    margin-bottom: 1rem;
    height: 2.25rem;
    width: 18.4375rem;
    border-radius: 0.25rem;
    background-image: url("../../assets/icons/search-24px.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: center right 0.5rem;
    box-sizing: border-box;
    border-radius: 20px;
  }

  &::placeholder {
    font-size: 0.9rem;
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 18.4375rem;
    height: 2.25rem;
    background: #2e66e6;
    border-radius: 20px;
    color: #ffffff;
  }

  &__items {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    height: auto;
    width: 100%;
    border-top: 1px solid #bdc5d5;
    border-bottom: 1px solid #bdc5d5;
  }

  &__items-card {
    padding: 1rem;
  }

  &__items-subheading {
    font-weight: 600;
    font-size: 11px;
    color: #5c667e;
  }

  &__items-item {
    color: #2e66e6;
  }

  &__items-item,
  &__items-category,
  &__items-status,
  &__items-qty,
  &__items-warehouse {
    font-size: 13px;
    line-height: 20px;
  }

  &__items-top-container {
    display: flex;
    padding-left: 2rem;
  }

  &__items-bottom-container {
    display: flex;
    width: 100%;
  }

  &__items-right-wrap,
  &__items-left-wrap {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem 2rem 1rem 0rem;
  }

  &-items__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-list__icons-delete,
  &-list__icons-edit {
  }

  &__items-status {
    position: relative;
    text-align: center;
    color: #158463;
    font-weight: 600;
    size: 0.6875rem;
    &::before {
      padding: 4px 8px;
      background: rgba(21, 132, 99, 0.07);
      border-radius: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: "";
    }
  }
}
